.Backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0, 0, 0.3);
    z-index: 9998;
    overflow: hidden;
}

.Modal {
    height: 40%;
    width: 40%;
    padding: 2%;
    position: fixed;
    top: 20%;
    left: 30%;
    background: white;
    z-index: 9999;
    border-radius: 1%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.Modal.Show {
    animation: slideIn 1s ease;
}

.Modal.Hide {
    animation: fadeOut 1s ease;
}

.Modal.Show, .Backdrop.Show {
    display: block;
}

.Modal.Hide, .Backdrop.Hide {
    display: none;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateY(-100%)
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Modal {
        height: 60%;
        width: 75%;
        top: 20%;
        left: 12.5%;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Modal {
        height: 60%;
        width: 75%;
        top: 20%;
        left: 12.5%;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Modal {
        height: 60%;
        width: 75%;
        top: 20%;
        left: 12.5%;
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Modal {
        height: 60%;
        width: 75%;
        top: 20%;
        left: 12.5%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Modal {
        height: 60%;
        width: 75%;
        top: 20%;
        left: 12.5%;
    }
}


/* Tabs */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .Modal {
        height: 30%;
        width: 40%;
        top: 30%;
        left: 30%;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Modal {
        height: 30%;
        width: 40%;
        top: 30%;
        left: 30%;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Modal {
        height: 30%;
        width: 40%;
        top: 30%;
        left: 30%;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Modal {
        height: 30%;
        width: 40%;
        top: 30%;
        left: 30%;
    }
}