.SideMenu {
    position: fixed;
    top: 40px;
    height: calc(100% - 40px);
    width: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    background: white;
    left: -100%;
    z-index: 9999;
}

.SideMenu.show {
    left:0;
    animation: slideIn 1s ease-in;
}

.SideMenu.hide {
    left: -100%;
    animation: slideOut 2s ease-out;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(100%);
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.Backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0, 0, 0.3);
    z-index: 9998;
    overflow: hidden;
    display: none;
}

.Backdrop.Show {
    display: block;
}